* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slider {
    position: relative;
    width: 100%;
    height: 100%;
}
 
.ul1 {
    position: relative;  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ul1 li {
    list-style: none;   
    margin-top: 300px;
    margin-left:8px;
}
img {
    width: 100%;
    height: 100%;
}
.ul1 li .slide{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left;
}
.ul1 li input[type="radio"] {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.ul1 li input[type="radio"]:checked ~ .slide {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin: right;
}

 .navSlide {
    height:100%;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: 0;
  }
  .navShow {
    display: flex;
    width: calc(115px*16);
    animation: scroll 40s linear infinite;
    margin: 0;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(120px*16));
    }
  }
  .ul2{
    display: flex;
    align-items: center;
    perspective: 100px;
    margin: 1px;
    padding:0px;
  }
  .ul2 li {
    transition: transform 1s;
    list-style: none;
    cursor: pointer; 
    background: #ddd;
    padding:7px;
    margin:0 7px 0 0;
    border-radius: 2px;
  }
  li:first-child {
    background-color: yellow;
  }

  .navSlide::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 12%;
    z-index:2;
  }
  .navShow:hover {
    animation-play-state: paused;
  }
  
  .navSlide::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }


.grid-container {
    display: grid;
    grid-template-columns: 50px auto auto;
    grid-column-gap: 3px;
    text-align: center;
}
.grid-item {
    background: #ddd;
    margin: 12px 0 0 0;
    border-radius: 2px;
}

.grid-container-copy {
  display: none;
  grid-template-columns: auto;         
}
.grid-item1 i {
margin-right:3px;
padding-left:15px;
}
input[type="text"] {
width: 290px;
border:0;
outline: none;
padding: 8px;
background-color: #ddd;
font-size:15px;
}
.line {
 object-fit: cover;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
}
.flex-item {
  cursor: pointer;
  background-color: #ddd;
  width: 375px;
  border-radius: 2px;
}
.item2 {
  margin: 0 12px;
}
.item1 {
  background-color: yellow;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 150px auto;
    margin-top: 15px;
}
select{
  width: 100%;
  background-color: #ddd;
  border-radius: 1px;
}

.schedule {
 margin-left: 150px;
 margin-top: 15px;
 border-radius: 2px;
}
.schedule2 {
 margin-top: 15px;
 border-radius: 2px;
 display: none;
}
table {
  width: 93%;
}
td {
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(214, 200, 200) !important;
  background-color: #f2f0e9;
  font-size: 15px;
}

tr:nth-child(odd) span {
  font-size: 11px;
  margin-left: 35px;
}
tr:nth-child(odd) p {
  font:bold 15px helvetica;
  margin-left: 35px;
}
tr:nth-child(even) p {
  font:bold 15px helvetica;
  margin-left: 35px;
}
tr:nth-child(even) span {
  font-size: 11px;
  margin-left: 35px;
}
tr:nth-child(2) td:first-child{
  background-color: #ddd;
}

.icon {
  margin: 30px 0 0 0;
  position: absolute;
  margin-left: 5px !important;
}
.main_content {
  width: 370px;
  text-align: start;
}
.grid-container3 {
  display: none;
  grid-template-columns: 370px auto auto auto;
  grid-column-gap: 2px;
  text-align: center;
  margin-bottom: 12px;
}
.item__3 {
  text-align:start;
  padding-left: 14px;
}
.extensionTd {
  background-color: white;
}

 
@media screen and (max-width: 576px) {
  .schedule {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: none;
    }
    .grid-container {
      display: none;
    }
    .grid-container-copy {
      display: grid;
    }
    
    .schedule2 {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .schedule {
      display: none;
    } 
    table {
      width: 100%;
    }
    .main_content {
      width: max(20%,320px);
    }
    tr:nth-child(2) td:first-child{
      background-color: #f2f0e9;
    }
    .grid-container2 {
      display: none;
    }
    .grid-container3 {
      display: grid;
      grid-template-columns: 230px auto auto auto;
    } 
} 


